<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <a href="{{ url_for('users_index') }}">Users</a>
    <p>id = {{ user.id }}</p>
    <p>nickname = {{ user.name }}</p>
    <p>email = {{ user.email }}</p>
    <form action="{{ url_for('users_delete', id=user.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete the User? This action cannot be undone');">
        <input type="submit" value="Delete">
    </form>
    <form action="{{ url_for('users_edit', id=user.id )}}">
        <input type="submit" value="Edit">
    </form>
</body>
</html>